/* Reusable CSS variables */
:root {
  --poll-background-color: lightgoldenrodyellow; /* rgba(0, 0, 0, 0.99) */
  --poll-text-color: salmon;
  --option-color: #e0a6be;
  --option-color-win: blue;
  --option-color-draw: yellow;

  --size-xxs: 0.125rem; /* = 2px */
  --size-xs: 0.25rem; /* = 4px */
  --size-s: 0.5rem; /* = 8px */
  --size-m: 1rem; /* = 16px */
  --size-l: 1.5rem; /* = 24px */
  --size-xl: 2rem; /* = 32 px */
  --size-xxl: 2.5rem; /* = 40 px */
}

/* Very basic HTML resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Futura, sans-serif;
  color: var(--poll-text-color);
}

body {
  height: 100vh;
  font-size: var(--size-l);
}
