/* Theme customization */
:root {
    --poll-background-color: rgba(0, 0, 0, 0.99);
    --poll-text-color: #fff;
    --option-color: #823597;
    --option-color-win: #1ed581;
    --option-color-tie: orange;
    --option-win-icon: url('/trophy.svg');
    --option-tiebreakwin-icon: url('/dice-4.svg');
    --poll-corner-radius: 40px;
    --poll-padding: 32px;
    --body-text-font-family: Futura, system-ui, sans-serif;
    --body-text-font-size: 24px;
    --poll-title-font-family: Futura, system-ui, sans-serif;
    --poll-title-font-size: 32px;
    --poll-option-corner-radius: 8px;
  }
  